/Jedan.class
/NajmanjiBr.class
/Drugi.class
/Racun.class
/ParanNeparan.class
/Zvezdice.class
/Novi.class
/Povrsina.class
/N.class
/Kamata.class
/ZbirRazlika.class
/Najmanji.class
/As.class
/Nizovi.class
/SumaManjaOd.class
/Tablic.class
